<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>personal information </h1>
    hobbies:<br>
    playing<input type="checkbox"><br>
    eating<input type="checkbox"><br>
    reading<input type="checkbox"><br>
    writing<input type="checkbox"><br>
    gender:<br>
    male<input type="radio">
    female<input type="radio">
</body>
</html>