<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
    <form action="" method="post">
        <h1>LOGIN FORM</h1>
        <h2>USER DETAILS</h2>
        username<input type="text"><br>
        password<input type="text"><br>
        Full Name<input type="text"><br>
        Address<input type="text"><br>
        phone number<input type="number"><br>
        <input type="submit"><br>

        
    </form>
</body>
</html>